@charset "utf-8";
#AnaDiv {
	/*background-color: gray;*/
	margin: 0px;
	padding: 5px;
	height: 375px;
	width: 1000px;
	border: 5px solid; #000;
}
#UstDiv {background-image:url(header.png); margin:0px;margin-bottom:5px;padding:5px; height:100px;}
 #MenuDiv {background-color:#090; margin:0px; margin-bottom:5px;padding:5px; height:35px;}
#SolDiv {float:left; background-color:#06F; margin-bottom:5px;padding:5px; height:179px;
width:130px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
#OrtaDiv {border-style: solid;
    border-color: inherit;
    border-width: 1px;
    float:left; background-color:#C9C9C9; margin-left:5px;margin-bottom:5px;padding:5px; height:175px;
    width:700px; #666; overflow-y: scroll;
    margin-right: 0px;
    margin-top: 0px;
}
#SagDiv {float:right; background-color:#06F; margin-bottom:5px; padding:5px; height:175px;
width:130px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
 #SagIcDiv {background-color:gray; margin-bottom:5px; padding:5px; height:154px;
width:120px;
}
#AltDiv {clear:both; background-color:pink; margin:0px;padding:5px; height:35px;}